body{
  width:1024px;
  font-size:20px;
  background: rgb(215, 215, 215);
  background: -webkit-radial-gradient(#FFFFFF, #68BEFB);
  background:    -moz-radial-gradient(#FFFFFF, #68BEFB) repeat scroll 0 0 transparent;
  background:     -ms-radial-gradient(#FFFFFF, #68BEFB);
  background:      -o-radial-gradient(#FFFFFF, #68BEFB);
  background:         radial-gradient(#FFFFFF, #68BEFB);
}
h1 {
  font-size: 56px;
  line-height: 2;
  font-weight: 300;
}
.inner-slide {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-centered {
  justify-content: center;
  align-items: center;
}
